
server:
  port: 8082

spring:
  profiles:
    active: dev

---

spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://localhost:3306/Uber_DB_Local_PP
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none        # VERY IMPORTANT for Flyway
    show-sql: true

  flyway:

    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: false
    locations: classpath:db/migration

welcome:
  message: db migration not done yet!!
